// 通用样式
.common-touch-no {
  touch-action: none;
}

.common-loading {
  animation: rotate360 4s infinite linear;
}

// 其他页面样式
.page-border {
  border: 4px dashed #ddd;
}

.page-border-active {
  border-color: #4c8dfc;
}
